<section class="secretheight">
    <h1> BIENVENIDO, {{nuevoRestaurante.Nombre}} </h1>
<p class="revisa"> por favor revisa los datos  </p>
<div class="individual">
<p>{{nuevoRestaurante.Direccion}}</p>
<p> {{nuevoRestaurante.Email}} </p>
<p> {{nuevoRestaurante.URLReal}} </a></p>
<div class="imagecaja">
    <img class="imagenRestauranteAdd" src="{{nuevoRestaurante.Foto1}}">
</div>

</div>
</section>


