<h1> BIENVENIDO {{nuevoRestaurante.Nombre}} </h1>
<p> por favor revisa que los siguientes datos sean correctos </p>
<p> Direccion : {{nuevoRestaurante.Direccion}}</p>
<p> E-Mail : {{nuevoRestaurante.Email}} </p>
<p> Pagina web {{nuevoRestaurante.URLReal}} </a></p>
<img src="{{nuevoRestaurante.Foto1}}">


