
<<<<<<< HEAD

=======
<img class="logofoogo" src="images\foogo_logo.png">
>>>>>>> intermedia
<div class= "textoBienvenida">
<p> Bienvenido A FooGo </p>



<p> Busca tus restaurantes por estilo de comida  </p>
<p> comida rapida , internacional , parrilla , asiatica ,sushi  y mas !!</p>
{{#if isUserLoggedIn}}

  <h2> Bienvenido {{currentUserInfo.nombre}}</h2>

{{/if}}

 </div>


<div class="textoSignUpLogIn"> 
{{#if message }}
<div class="welcome-message">Thanks for Signing Up {{message}}! You can log in! </div>
{{/if}}

{{#if errorMessage }}
<div class="error-message">{{ errorMessage }}</div>
{{/if}} 
</div>
<div class = "buscador ">
<form id="buscadorPrincipal" action="/buscadorPrincipal" method="GET">

    <label for="buscador"> </label>
    <input type="text" name="buscador" value="" id="buscador">
    <button class="boton-Buscador"> Buscar </button>
</form>
 </div>






<div class="restaurantesTotal"> 
     {{#each data}}
   <div class="individual">


    <p class="nombre"> Nombre : {{this.Nombre}}</p>
    <img src="{{this.[Foto1]}}" class="imageone">
    <img src="{{this.[Foto2]}}" class="imagetwo">
    <p class="email"> Mail : {{this.Email}}</p>
    <p class="direccion"> Direccion : {{this.Direccion}} </p>
    <form method="POST" action="/business-add/{{this.id}}"> 
    <button type="submit" >  agregar restaurante </button> 
    </form>
</div> 
 {{/each }}
</div>
<div class="mensajefinalindex" > 
<h2> Vendes comida Take Away y deseas Colaborar ? </h2>
<a href="./restaurantes"> haz click aqui</a>

 </div>