
<p> Bienvenido  A iFogo </p>

<p> La aplicacion de Food-to-Go que tanto buscabas  </p> 


<form id ="buscadorPrincipal" action="/buscadorPrincipal" method="GET">

<label for="buscador"></label>
<input type="text" name ="buscador" value="" id=""> 
<button class="boton-Buscador"> Buscar </button>
 </form>

 <div> {{#each data}}   

     <p> Nombre :  {{this.Nombre}}</p>
     <img src="{{this.[Foto_1]}}"> 
     <img src="{{this.[Foto_2]}}">
     <p> Mail :  {{this.Email}}</p>
     <p> direccion : {{this.Dirección}} </p>

     
{{/each }}
      
 </div>

 <h2>   Vendes comida Take Away  y deseas Colaborar ? </h2>
  <a href="./restaurantes"> haz click aqui</a> 
