<div>
  <h2> Take Aways Recientes de : <h1> {{user.nombre}}</h1></h2>
</div>



{{#each user.restaurantes}}



  <div class="tarjeta"></div>
    <p class="nombre"> Nombre : {{this.Nombre}}</p>
    <img src="{{this.Foto1}}" class="imageone">
    <p class="email"> Mail : {{this.Email}}</p>
    <p class="direccion"> Direccion : {{this.Direccion}} </p>
    <form method="POST" action="/business-add/{{this.id}}"> 
    <button type="submit" class="roi btn btn-dark"> Realizar Compra</button>
  </div>
</div>
</div>

</div>
{{/each}}







