<section class="secretheight">
<div class="perfilCompras">
  <p class="perfilCompratake"> Take Aways Recientes de:</p> 
  <p class="perfilNombre">{{user.nombre}}</p>
</div>

{{#each user.restaurantes}}
<div class="restaurantesTotal"> 
   <div class="individual">
   <div class="imagecaja">
    <img src="{{this.[Foto1]}}" class="imageone">
    </div>
    <div class="infoCaja">
     <p class="nombre">{{this.Nombre}}</p>
    <p class="email">{{this.Email}}</p>
    <p class="direccion">{{this.Direccion}} </p>
    </div>
    <div class="formCaja">
    <form method="POST" action="/delete/{{this.id}}"> 
    <button type="submit" class="botoncillohermano btn btn-danger p-4" style="font-size: 1em;  margin-left: -15%;" > Eliminar Compra</button> 
    </form>
    </div>
  </div> 
</div>
{{/each}}
</section>







