<div>
  <h2> Take Aways Recientes de : <h1> {{user.nombre}}</h1></h2>
</div>

<div>

{{#each user.restaurantes}}




    {{!-- <p class="nombre"> Nombre : {{this.Nombre}}</p>
    <img src="{{this.Foto1}}" class="imageone">
 
    <p class="email"> Mail : {{this.Email}}</p>
    <p class="direccion"> Direccion : {{this.Direccion}} </p>

     --}}

     <div class="alex">
<div class="card m-2" style="width: 18rem;">
  <img src="{{this.[Foto1]}}" class="card-img-top" alt="FOTO1">
  <div class="card-body">
    <h5 class="card-title text-center">{{this.Nombre}}</h5>
    <p class="card-text text-center">
      {{this.Direccion}}
    </p>
    {{!-- <form method="POST" action="/business-add/{{this.id}}"> 
    <button type="submit" class="roi btn btn-dark"> Realizar Compra</button> --}}
  </div>
</div>
</div>


{{/each}}

</div>





