<div>
  <h2> Take Aways Recientes de : <h1> {{user.nombre}}</h1></h2>
</div>

<div>

{{#each user.restaurantes}}




    <p class="nombre"> Nombre : {{this.Nombre}}</p>
    <img src="{{this.Foto1}}" class="imageone">
 
    <p class="email"> Mail : {{this.Email}}</p>
    <p class="direccion"> Direccion : {{this.Direccion}} </p>


{{/each}}

</div>





