<div>
  <h2> Take Aways Recientes de : <h1> {{user.nombre}}</h1></h2>
</div>

{{#each user.restaurantes}}



   <div class="individual">

   <div class="imagecaja">
    <img src="{{this.[Foto1]}}" class="imageone">
    </div>
    <div class="infoCaja">
     <p class="nombre">{{this.Nombre}}</p>
    <p class="email">{{this.Email}}</p>
    <p class="direccion">{{this.Direccion}} </p>
    </div>
    <div class="formCaja">
    <form method="POST" action="/business-add/{{this.id}}"> 
    <button type="submit" class="btn btn-dark" > Realizar Compra</button> 
    </form>
    </div>
  </div> 
  


{{/each}}








